.availableHalls {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
}

.getHallById {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
}

.getHallById > h3 {
    font-size: 24px;
    text-align: center;
    color: #07ff1c;
    margin-bottom: 15px;
}

.availableHalls > h2 {
    font-size: 24px;
    text-align: center;
    color: #07ff1c;
    margin-bottom: 15px;
}
  
  /* Style the dropdown list */
select {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    margin: 10px 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #555;
    background-color: #fff;
    outline: none;
    cursor: pointer;
}
  
select:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
  
  /* Style the input field */
input{
    width: 90%;
    max-width: 400px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #555;
}
  
input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
  
  /* Style the buttons */
button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
  
button:hover {
    background-color: #0056b3;
}

.deleteButton {
    background-color: #ff0000;
}

.deleteButton:hover {
    background-color: #ce0000;
}
  
  /* Style the fetched cinema details */
h4 {
    margin-top: 20px;
    color: #333;
}
  
p {
    margin: 5px 0;
    color: #555;
}
  
p strong {
    color: #000;
}
  